* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: solid 1px black; */
}

body {
	width: 100vw;
	height: 100vh;
	position: fixed;
}

@font-face {
	font-family: "BlanditDisplay-Regular";
	src: url("../../assets/fonts/BlanditDisplay-Regular.woff2");
}